@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.title p{
font-family: 'Libre Barecode 39';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
