.container {

}

.banner{
  border: 2em;
  width: 100vw;
  height: 50vh;
  background-color: rgba(5, 121, 189, 0.952)
  
}
.overlay{
  width: 100vw;
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(185, 198, 216, 0.952),  rgb(145, 175, 206), rgb(55, 130, 201));
  z-index: 2;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
